Hello Python! This is my very first notebook

In [3]:
print("Hello World!")

Hello World!

In [6]:
print("Any String!")

Any String!

In [7]:
print(5)

5

In [8]:
print(2+2)

4

In [9]:
print(True)

True

In [10]:
print("Hello Class!")
print("TACC'S awesome")

Hello Class!
TACC'S awesome

In [11]:
2+5

7

In [12]:
6.7+3.3

10.0

In [14]:
name = "Derek"
Name = "John"

In [15]:
print(name)
print(Name)

Derek
John

In [16]:
num67 = 2

In [17]:
string1 = str(5)

In [18]:
print(string1)

5

In [20]:
print(type(string1))

<class 'str'>

In [22]:
numIn =  input("put a numbah in")

put a numbah in9

In [26]:
myfile = open("classwork1_29.dat", 'w')
myfile.write(numIn)
myfile.write("\n")
myfile.write("HelloWorld")
myfile.write("\n")
myfile.close()

In [28]:
myfile2 = open("classwork1_29.dat", 'r')
content = myfile2.read()
myfile.close()
print(content)

9
HelloWorld

In [30]:
for x in range(0, 3):
    print("Let's go %d" % x)

Let's go 0
Let's go 1
Let's go 2